.carousel-control-prev-icon{
    display: none !important;
  }
  .carousel-control-next-icon{
    display: none !important;
  }
  .navbar-toggler-icon {
    background-color: red !important;
}
.active{
  color: yellow !important;
}