@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&family=PT+Sans&display=swap');

.homeOuter{
  background-image: url("../public/assests/Kalaihome.jpg");
  height: 600px;
  background-size: cover;
}
.homeInner{
  background-color: rgba(0,0,0,0.6);
  height: 600px;
}
.main h1{
 padding-top: 20%;
 color: red;
 font-size: 64px;
 font-family: 'Chivo Mono', monospace;
 animation-name: example;
 animation-duration: 10s;
 animation-delay: 1s;
 position: relative;
}
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  75%  {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}
.main p{
  color: white;
  font-size: 24px;
  font-weight: 600 !important;
  font-family: 'PT Sans', sans-serif;
 }
.whyUs{
  background-image: url("../public/assests/Kalaisubhome.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whyUsinner{
  background-color: rgba(0,0,0,0.6);
  height: 400px;
  text-align: center;
  padding-top: 50px;
  width: 100%;
}
.whyUsinner h1{
  font-size: 64px;
  padding: 10px;
  color: white;
  font-family: 'Chivo Mono', monospace;
}
.whyUsinner h6{
  color: red;
  font-size: 28px;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;

}
.whyUsinner p{
  font-size: 18px;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif;

}
.customerReview{
  background-image: url("../public/assests/csReview.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.customerReviewInner{
  background-color: rgba(0,0,0,0.6);
  height: 500px;
  text-align: center;
  padding-top: 50px;
  width: 100%;
}
.customerReviewInner h1{
  color: white;
  padding: 20px;
  font-family: 'Chivo Mono', monospace;
  font-size: 64px;

}
.customerReviewInner p{
  color: white;
  padding: 0px 50px;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
}
.cardView{
  border-radius: 18px;
  height: 150px;
  background-color: black;
  color: white;
  margin: 20px !important;
}
.cardView h2{
  font-size: 14px;
  padding: 20px;
}
.cardView h6{
  font-size: 20px;
  margin: 0px;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
}
.accessoriesFor{
  background-image: url("../public/assests/CustomizeBikes.jpg");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accessoriesForInner h1{
  color: white;
  font-size: 64px;
  padding: 20px;
  font-family: 'Chivo Mono', monospace;

}
.accessoriesForInner{
  background-color: rgba(0,0,0,0.6);
  height: 1000px;
  text-align: center;
  padding-top: 50px;
  width: 100%;
}
.accessoriesForCard{
  background: transparent !important;
  color: white;
  margin-top: 20px;
  border: none;
}
.accessoriesForCard p {
  font-size: 18px;
}
.whatsappIcon a {
  font-size: 60px;
  position: fixed;
  bottom: 10px;
  left: 95%;
  color: green;
  margin-right: 20px;
  margin-bottom: 0;
  padding: 0;
  text-align: end;
}
.mapContainer{
  background-color: black;
  text-align: center;
}
.mapinnerContainer{
  padding: 20px 0px;
}

@media only screen and (max-width: 600px) {
  .homeOuter{
    background-image: url("../public/assests/Kalaisubhome.jpg");
    height: 500px;
    background-size: cover;
  }
  .mapinnerContainer img{
    width: 100%;
    height: 200px;
    padding: 0px 20px;
  }
  .main h1{
    padding-top: 30%;
    color: red;
    font-size: 64px;
  }
  .whatsappIcon a {
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    left: 85%;
    color: green;
    margin-right: 0px;
    margin-bottom: 0;
    padding: 0;
    text-align: end;    
  }
  .whyUsinner h1{
    font-size: 28px !important;
}
.whyUsinner h6 {
  color: red;
  font-size: 20px;
  background-color: white;
  width: 75%;
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
}
.whyUsinner p {
  font-size: 14px;
  padding: 20px;
  color: white;
  font-weight: 600;
}
.accessoriesFor{
  height: 2300px;
}
.accessoriesForInner h1 {
  color: white;
  font-size: 22px;
  padding: 0px;
}
.accessoriesForCard p {
  font-size: 14px;
}
.customerReview {
  background-image: url(/_next/static/media/csReview.926dba10.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.customerReviewInner{
  height: 800px;
}
.customerReviewInner h1 {
  color: white;
  padding: 10px;
  font-size: 24px;
}
.customerReviewInner p {
  color: white;
  padding: 0px 10px;
  font-size: 14px;
}
}
